import type { Metadata } from 'next'
import './globals.css'

export const metadata: Metadata = {
  title: 'Админ | Биохимия стройности',
  description: 'Панель управления заявками',
}

export default function AdminLayout({
  children,
}: {
  children: React.ReactNode
}) {
  return (
    <html lang="ru">
      <body className="antialiased bg-warm-100">
        {children}
      </body>
    </html>
  )
}
